<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RequestForm</title>
</head>
<body>
<h2>Maintenance Request Form</h2>
<form action="/submit_form" method="POST" >
    Name
    <br />
    <input type="text" id="name" name="name" />
    <br />
    Apartment Number
    <br />
    <input type="text" id="apartNum" name="apartNum" />
    <br />
    Area of Problem
    <br />
    <input type="text" id="areaProblem" name="areaProblem" />
    <br />
    Description of Problem
    <br />
    <textarea id="descProblem" name="descProblem" rows="5" cols="70"></textarea>
    <br />
    <input type="submit" value = "Add Maintenance Request"/>

</form>
<form action = "/home" method="POST">
    <input type = "submit" value = "Back">
</form>
</body>
</html>